/* src/App.css */

.App {
    text-align: center;
    padding: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 12px;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    border: none;
}

label {
    display: block;
    margin: 10px 0;
}
